* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


}

nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo img {
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top:20px;
}

.csunlogo img {
  height: 80px;
  width: 500px;
 display:block;
  margin:auto;
  justify-content: center;
}
.wildfire-img {
  height:auto;
  max-width: 100%;
  padding-bottom: 400px;
 
}

.logo-mobile img {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: black;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
  }

  .nav-active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 80px;
    right: 0;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .nav-active li {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .nav-active li a {
    color: black;
  }

  .logo {
    display: none;
  }

  .logo-mobile img {
    display: block;
    height: 80px;
    margin-left: 20px;
  }
}


main {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin: auto;

}
/* homepage textbox and picture structure*/
.container{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding:200px;
  
}
.bottom-text, .top-image2 {
  width: 475px;
  height: 325px;
  border-radius: 10px;
}

.top-image, .bottom-text2 {
  width: 450px;
  height: 325px;
  margin-right: 20px;
  border-radius: 10px;
}
.bottom-text,.bottom-text2{
  font-size:auto;
  text-align: center;
  background-color: #E2DCDC;
  padding-inline: 25px;
  margin-bottom: 20px; 
  
}

.bottom-text2, .top-image {
  position: relative;
  top: -50px; 
  left: -15px; 
}
h1 {
  text-align: center;
  padding: 15px;
  color: #EF2929 ;
  width: fit-content;
  margin: auto;
  
}

#intro {
  text-align: center;
  padding: 30px;
  background-color: rgba(239, 89, 89, .30);
  font-size: 25px;
  color: #ef5959;

}

#objective {
  text-align: center;
  padding: 30px;
  background-color: rgba(239, 89, 89, .30);
  font-size: 25px;
  color: #ef5959;
}

#data {
  text-align: center;
  padding: 30px;
  background-color: rgba(239, 89, 89, .30);
  font-size: 25px;
  color: #ef5959;
}

#models {
  text-align: center;
  padding: 30px;
  background-color: rgba(239, 89, 89, .30);
  font-size: 25px;
  color: #ef5959;
}

#aboutinfo {
  font-size: 16px;
  font-family: sans-serif;
  color: black;
  word-wrap: break-word;
  padding-bottom: 30px;
}

footer {
  height: 100px;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
  color:black;
}

.footer-content {
  font-style: italic;
  margin-bottom: 10px;
}